:root{
	--bg-color:#282a36;
	--alt-bg-color:#44475a;
	--text-color:#f8f8f2;
	--text-bold:#ffb86c;
	--text-heading:#f1fa8c;
	--text-link:#50fa7b;
	--text-accent:#ff79c6;
}

body{
	background-color:var(--bg-color);
	color:var(--text-color);
}

#header, #content{
	margin:10px;
	padding: 10px;
	text-align: center;
}

#header{
	background: var(--alt-bg-color);	
}

h1{
	font-size: 3em;
	margin: 0;
	color:var(--text-heading);
}

#header a{
	font-size: 1.5em;
	color:var(--text-link);
	text-decoration: none;
}

#header li{
	padding: 2px 10px;
	display: inline-block;
	border: 0;
	border-left: 1px;
	border-right: 1px;
	border-style: solid;
	border-color: var(--text-accent);
	font-size: 1.5em;
}